* {
    padding: 0;
    margin : 0;
}

body {
    margin          : 0 auto;
    max-width       : 540px;
    min-width       : 320px;
    background-color: #f4f4f4;
    font            : normal 16px/1.5 PingFangSC-regular, Tahoma, Lucida Grande, Verdana, Microsoft Yahei, STXihei, hei;
}

/* 搜索框开始 */
.search {
    width           : 100%;
    background-color: #fff;
    height          : 50px;
}

.search_box {
    height       : 32px;
    width        : 516px;
    border-radius: 16px;
    border       : 1.8px solid #0086f6;
    color        : #f6f6f6;
    display      : flex;
    align-items  : center;
    margin-left  : 10px;
    color        : grey;
}

.search_box i::before {
    content        : '';
    display        : block;
    width          : 15px;
    height         : 15px;
    background     : url(../images/jd-sprites.png) no-repeat -83px 0;
    background-size: 200px 200px;
    margin-left    : 15px;
}

.search_box span {
    color      : #999;
    font-size  : 15px;
    line-height: 32px;
    text-align : center;
    margin-left: 10px;
}

/* 搜索框结束 */
/* 导航开始 */
.nav {
    height          : 184px;
    width           : 100%;
    background-color: #fff;
}

.nav .nav_box {
    display: flex;
    padding: 6px 12px 2px;
}

.nav_box ul {
    list-style: none;
    flex      : 1;
    text-align: center;
}

.nav_box ul li {
    width           : 102px;
    height          : 58px;
    background-color: red;
}

.nav_box .box_ul1 li:nth-child(1) {
    background-image      : linear-gradient(180deg, #fa5956, #fb8650);
    border-top-left-radius: 8px;
}

.nav_box .box_ul1:nth-child(1) li:not(:first-child) {
    background-color: #fff5f1;
}

.nav_box .box_ul2:nth-child(2) li:not(:first-child) {
    background-color: #eff9ff;
}

.nav_box .box_ul3:nth-child(3) li:not(:first-child) {
    background-color: #f2f5ff;
}

.nav_box .box_ul4:nth-child(4) li:not(:first-child) {
    background-color: #ecfcf8;
}

.nav_box .box_ul5:nth-child(5) li:not(:first-child) {
    background-color: #fff9f2;
}

.nav_box .box_ul1 li:nth-child(3) {
    background-color         : red;
    border-bottom-left-radius: 8px;
}

.nav_box .box_ul5 li:nth-child(1) {
    background-color       : red;
    border-top-right-radius: 8px;
}

.nav_box .box_ul5 li:nth-child(3) {
    background-color          : red;
    border-bottom-right-radius: 8px;
}

.nav_box ul li a {
    display        : flex;
    color          : #fff;
    justify-content: center;
    align-items    : center;
    text-decoration: none;
    flex-direction : column;
    font-size      : 13px;
}

.nav_box ul li:not(:first-child)>a {
    display        : flex;
    color          : grey;
    justify-content: center;
    align-items    : center;
    text-decoration: none;
    flex-direction : column;
    font-size      : 13px;
}

.nav_img::before {
    content        : '';
    display        : block;
    width          : 42px;
    height         : 33px;
    background     : url(../images/nav.png) no-repeat 0 -132px;
    background-size: 42px auto;
    margin-bottom  : 4px;
    text-align     : center;
}

.nav_imgs::before {
    content        : '';
    display        : block;
    width          : 42px;
    height         : 33px;
    background     : url(../images/nav.png) no-repeat 0 -88px;
    background-size: 42px auto;
    margin-bottom  : 4px;
    text-align     : center;
}

/* 导航结束 */
/* banner横幅开始 */
.banner {
    height  : 148px;
    width   : 100%;
    position: relative;
}

.banner .banner_left {
    left            : 0;
    position        : absolute;
    height          : 148px;
    width           : 254px;
    border-radius   : 12px;
    background-color: #fff;
    margin          : 5px 4px 0 4px;
}

.banner .banner_rigth {
    border-radius   : 12px;
    right           : 0;
    position        : absolute;
    height          : 148px;
    width           : 254px;
    background-color: #fff;
    margin          : 5px 4px 0 4px;

}

.banner_header {
    text-decoration: none;
    display        : flex;
    height         : 20px;
    margin         : 4px 0 10px 10px;
    -ms-flex-pack  : justify;
    justify-content: space-between;
    -ms-flex-align : center;
    align-items    : center;
    text-align     : center;
    line-height    : 15px;
}

.banner_header img {
    width : 73px;
    height: 20px;
}

.banner_header div {
    font-size       : 10px;
    margin-right    : 10px;
    color           : #ff4607;
    width           : 92px;
    height          : 18px;
    background-color: #ffebe3;
}

.banner_img {
    position   : absolute;
    height     : 90px;
    width      : 95%;
    margin-left: 5px;
}

.banner_img img {
    position     : absolute;
    border-radius: 13px;
    height       : 100%;
    width        : 100%;
}

.banner_img div {
    font-size    : 9px;
    text-align   : center;
    color        : honeydew;
    line-height  : 14px;
    z-index      : 9;
    width        : 30px;
    height       : 14px;
    background   : rgba(51, 51, 51, .8);
    border-radius: 13px;
    position     : absolute;
}

.banner_font {
    position   : absolute;
    height     : 18px;
    bottom     : 0;
    margin-left: 10px;
}

.banner_font span {
    display  : block;
    font-size: 11px;
    color    : grey;
}

.banner_headers {
    text-decoration: none;
    display        : flex;
    height         : 20px;
    margin         : 4px 0 10px 10px;
    -ms-flex-pack  : justify;
    justify-content: space-between;
    -ms-flex-align : center;
    align-items    : center;
}

.banner_headers img {
    width : 73px;
    height: 20px;
}

.banner_headers div {
    text-align      : center;
    line-height     : 15px;
    font-size       : 10px;
    margin-right    : 10px;
    color           : #ff4607;
    width           : 68px;
    height          : 15px;
    background-color: #ffebe3;
}

.banner_rigth_img {
    position       : absolute;
    height         : 117px;
    width          : 100%;
    display        : flex;
    -ms-flex-pack  : justify;
    justify-content: space-around;
    -ms-flex-align : center;
    align-items    : center;
}

.banner_rigth_img img {
    top: 0;
    /* position: absolute; */
    height  : 84px;
    width   : 117px;
    border-radius: 10px;
}
.banner_rigth_img >div .hd{
    position: absolute;
    top: 0;
    width: 30px;
    height: 14px;
    color: #c58300;
    /* text-align: center; */
    /* line-height: 14; */
    border-radius: 10px 0 10px;
    background-color: #f6deb8;
    font-size: 10px;
}
.banner_rigth_img >div{
    font-size: 11px;
}
/* banner横幅结束 */
/* 广告开始 */
.advertising{
    height: 219px;
    width: 100%;
    margin-top: 20px;
    text-align: center;

}
.advertising img{
    height: 219px;
    width: 526px;
    border-radius: 10px;
}
/* 广告结束 */